@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.social-call {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a {
  margin: 0px 5px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
}

.social a:hover {
  color: #0b9d8a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.phone {
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
}

.phone a {
  color: rgba(0, 0, 0, 0.7);
}

.navigaition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 45px;
}

.logo img {
  height: 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  position: relative;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
}

.menu li a {
  color: #555;
}

.menu li a:hover {
  color: #0b9d8a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.right-menu a {
  margin: 0px 10px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.right-menu a:hover {
  color: #0b9d8a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.sale-lable {
  width: 38px;
  height: 17px;
  background-color: #f76b6a;
  color: #ffff;
  font-weight: 400;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: -20px;
}

.sale-lable::after {
  content: '';
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-left: 3px solid transparent;
  border-top: 7px solid #f76b6a;
  border-right: 5px solid transparent;
  position: absolute;
  top: 100%;
  left: 10%;
}

.fa-shopping-cart {
  position: relative;
}

.num-card-product {
  position: absolute;
  top: -17px;
  right: -17px;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 50%;
  background-color: #0b9d8a;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar {
  width: 100%;
  height: 300px;
  background-color: #ffff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
  z-index: 101;
  -webkit-animation: search 0.3s;
          animation: search 0.3s;
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}

.search-input {
  width: 90%;
  height: 100px;
  margin-top: 20px;
  border-bottom: 2px solid #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-cancel {
  color: #272727;
  font-size: 2rem;
  padding-right: 40px;
}

.search-cancel:hover {
  color: #0b9d8a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.search-bar {
  display: none;
}

.search-bar--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes search {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes search {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
}

.form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 102;
}

.form__login, .form__sign-up {
  width: 420px;
  padding: 20px 10px;
  background-color: #ffff;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  position: relative;
}

.form__login strong, .form__sign-up strong {
  color: #272727;
  font-size: 2rem;
  margin: 2px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.form__login form, .form__sign-up form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form__login input, .form__sign-up input {
  width: 90%;
  height: 45px;
  margin: 6px 0px;
  padding: 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 7px;
}

.form__login input ::-webkit-input-placeholder, .form__sign-up input ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form__login input :-ms-input-placeholder, .form__sign-up input :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form__login input ::-ms-input-placeholder, .form__sign-up input ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form__login input ::placeholder, .form__sign-up input ::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form__login input[type="submit"], .form__sign-up input[type="submit"] {
  background-color: #0b9d8a;
  color: #ffff;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.form__cancel {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #868686;
}

.form__cancel :hover {
  color: #0b9d8a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.form__btns {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.form__btns a {
  color: #4d4d4d;
  font-size: 0.9rem;
}

.sign-up-btn {
  border-bottom: 1px solid #868686;
  line-height: 16px;
}

.form__login, .form__sign-up, .form {
  display: none;
}

.form__login--active,
.form__login--active .form__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}

.form__sign-up--active,
.form__sign-up--active .form__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.full-slider {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.full-slider__container {
  width: 80%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-slider__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
}

.full-slider__text-container strong {
  color: #333333;
  font-size: 3rem;
  line-height: 55px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.full-slider__text-container strong font {
  color: #0b9d8a;
}

.full-slider__text-container span {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
  color: #666666;
  font-size: 1.2rem;
}

.full-slider__btn {
  width: 170px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #0b9d8a;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 14px;
}

.f-slide-1 {
  background-image: url(/img/slider/slide_1.jpg);
}

.f-slide-2 {
  background-image: url(/img/slider/slide_1.jpg);
}

.f-slide-3 {
  background-image: url(/img/slider/slide_1.jpg);
}

.f-slide-4 {
  background-image: url(/img/slider/slide_1.jpg);
}

.popular-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-heading h2 {
  font-size: 1.5rem;
  color: #1b1919;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  padding: 5px 30px;
  border: 1px solid #e0e0e0;
}

.popular-box {
  width: 155px;
  height: 155px;
  margin: 0px 20px;
  border-radius: 10px;
  overflow: hidden;
}

.popular-box a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item span {
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
  color: #444444;
  text-align: center;
}

#autoWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  margin: 10px auto 40px auto;
}

.new-arrival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-arrival__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-arrival__heading strong {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #202020;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 40px;
  padding: 5px 30px;
  border: 1px solid #e0e0e0;
}

.new-arrival__heading p {
  color: #808080;
  margin: 10px;
  font-size: 0.9rem;
}

.product {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.product__cart {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #0b9b8a;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.01);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.01);
  display: none;
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}

.product__cart:hover {
  background-color: #f76b6a;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.product__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  margin: 20px;
}

.product__box:hover {
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.01);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.01);
}

.product__img {
  width: 200px;
  height: 210px;
  margin: 20px;
  cursor: pointer;
  position: relative;
}

.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.product__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid #f3f3f3f3;
}

.product__name {
  color: #727272;
}

.product__price {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 400;
}

.product__box:hover .product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
