nav {
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.social-call {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social {
    a{
        margin: 0px 5px;
        color: rgba(0, 0, 0, 0.7);
        font-size: 0.9rem;
        &:hover{
            color: #0b9d8a;
            transition: all ease 0.3s;
        }
    }
}

.phone {
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    a{
        color: rgba(0, 0, 0, 0.7);
    }
}

.navigaition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.logo {
    img{
        height: 30px;
    }
}
.menu {
    display: flex;
    li{
        position: relative;
        margin: 20px;
        display: flex;
        text-transform: uppercase;
        font-weight: 500;
        a{
            color: #555;
            &:hover{
                color: #0b9d8a;
                transition: all ease 0.3s;
            }
        }
    }
}
.right-menu {
    a{
        margin: 0px 10px;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.7);
        &:hover{
            color: #0b9d8a;
            transition: all ease 0.3s;
        }
    }
}

.sale-lable {
    width: 38px;
    height: 17px;
    background-color: #f76b6a;
    color: #ffff;
    font-weight: 400;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
    &::after{
        content: '';
        width: 0px;
        height: 0px;
        border-bottom: 5px solid transparent;
        border-left: 3px solid transparent;
        border-top: 7px solid #f76b6a;
        border-right: 5px solid transparent;
        position: absolute;
        top: 100%;
        left: 10%;
    }
}

.fa-shopping-cart {
    position: relative;
}

.num-card-product {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Popups

.search-bar {
    width: 100%;
    height: 300px;
    background-color: #ffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.3s;
    input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 2rem;
        margin: 20px;
        padding: 0px 20px;
    }
}

.search-input {
    width: 90%;
    height: 100px;
    margin-top: 20px;
    border-bottom: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-cancel {
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
    &:hover{
        color: #0b9d8a;
        transition: all ease 0.3s;
    }
}

.search-bar {
    display: none;
    &--active{
        display: flex;
    }
}

@keyframes search {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0px;
    }
}

.form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
    &__login, &__sign-up {
        width: 420px;
        padding: 20px 10px;
        background-color: #ffff;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        position: relative;
        strong {
            color: #272727;
            font-size: 2rem;
            margin: 2px 7px 7px 7px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 500;
        }
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
        input {
            width: 90%;
            height: 45px;
            margin: 6px 0px;
            padding: 0px 10px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            outline: none;
            border-radius: 7px;
            ::placeholder{
                color:rgba(0, 0, 0, 0.5);
            }
        }
        input[type="submit"]{
            background-color: #0b9d8a;
            color: #ffff;
            border: none;
            outline: none;
            text-transform: uppercase;
            margin-top: 10px;
            border-radius: 3px;
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
        }
    }
    &__cancel{
        position: absolute;
        right: 20px;
        top: 10px;
        color: #868686;
        :hover{
            color: #0b9d8a;
            transition: all ease 0.3s;
        }
    }
    &__btns {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        a{
            color: #4d4d4d;
            font-size: 0.9rem;
        }
    }
}

.sign-up-btn {
    border-bottom: 1px solid #868686;
    line-height: 16px;
}

.form__login, .form__sign-up, .form {
    display: none;
}

.form__login--active,
.form__login--active .form__login {
    display: flex;
    animation: fade 0.3s;
}

.form__sign-up--active,
.form__sign-up--active .form__sign-up {
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
